<a href="https://colab.research.google.com/github/renkogiso/daa_2021_1/blob/master/21octubre_1511.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from time import time

def ejemplo1( n ):
    start_time=time()
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")
    print(f"tiempo: {time()-start_time}")
for entrada in range(100,1001,100):
  ejemplo1( entrada )

total=1
tiempo: 4.649162292480469e-05
total=1
tiempo: 1.0013580322265625e-05
total=1
tiempo: 9.298324584960938e-06
total=1
tiempo: 8.821487426757812e-06
total=1
tiempo: 8.344650268554688e-06
total=1
tiempo: 8.58306884765625e-06
total=1
tiempo: 9.298324584960938e-06
total=1
tiempo: 9.5367431640625e-06
total=1
tiempo: 8.58306884765625e-06
total=1
tiempo: 8.344650268554688e-06

In [ ]:
from time import time

def ejemplo2( n ):
    start_time=time()
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    print(f"tempo: {time()-start_time}")
    return contador

for entrada in range(100,1001,100):
  ejemplo2( entrada )

tempo: 0.0004668235778808594
tempo: 0.0018050670623779297
tempo: 0.004122018814086914
tempo: 0.007921934127807617
tempo: 0.01631903648376465
tempo: 0.020000934600830078
tempo: 0.027245759963989258
tempo: 0.03930544853210449
tempo: 0.04428911209106445
tempo: 0.055377960205078125

In [ ]:
from time import time

def ejemplo3( n ): # n=4
    start_time=time()
    x = n * 2 # x = 8
    y = 0   # y = 0
    for m in range( 100 ): #3
        y = x - n   # y = 4
    print(f"tiempo: {time()-start_time}")
    return y

for entrada in range(100,1001,100):
  ejemplo3(entrada)

tiempo: 5.245208740234375e-06
tiempo: 6.4373016357421875e-06
tiempo: 8.58306884765625e-06
tiempo: 8.821487426757812e-06
tiempo: 9.059906005859375e-06
tiempo: 8.821487426757812e-06
tiempo: 8.821487426757812e-06
tiempo: 8.58306884765625e-06
tiempo: 8.58306884765625e-06
tiempo: 8.58306884765625e-06

In [ ]:
from time import time

def ejemplo4( n ):
    start_time=time()
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    print(f"tiempo: {time()-start_time}")
    return z

for entrada in range(100,1001,100):
  ejemplo4(entrada)

tiempo: 1.1920928955078125e-06
tiempo: 1.1920928955078125e-06
tiempo: 7.152557373046875e-07
tiempo: 7.152557373046875e-07
tiempo: 4.76837158203125e-07
tiempo: 4.76837158203125e-07
tiempo: 2.384185791015625e-07
tiempo: 2.384185791015625e-07
tiempo: 1.6689300537109375e-06
tiempo: 1.9073486328125e-06

In [ ]:
from time import time

def ejemplo5( x ):
    start_time=time()
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    print(f"tiempo: {time()-start_time}")
    return n

for entrada in range(100,1001,100):
  ejemplo5(entrada)

tiempo: 6.9141387939453125e-06
tiempo: 1.6689300537109375e-05
tiempo: 2.574920654296875e-05
tiempo: 3.552436828613281e-05
tiempo: 5.8650970458984375e-05
tiempo: 5.650520324707031e-05
tiempo: 6.67572021484375e-05
tiempo: 7.677078247070312e-05
tiempo: 7.677078247070312e-05
tiempo: 8.20159912109375e-05

In [ ]:
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    return suma
print(ejemplo6( 300 ))

27000000

In [ ]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma

for entrada in range(100,601,100):
  ejemplo6( entrada )

Tiempo transcurrido: 0.1467251778 segundos.
Tiempo transcurrido: 1.0205194950 segundos.
Tiempo transcurrido: 3.6440575123 segundos.
Tiempo transcurrido: 9.3464052677 segundos.
Tiempo transcurrido: 19.0726337433 segundos.
Tiempo transcurrido: 32.4547498226 segundos.