<a href="https://colab.research.google.com/github/renkogiso/daa_2021_1/blob/master/26octubre_1511.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from time import time

def ejemplo1( n ):
    start_time=time()
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")
    print(f"tiempo: {time()-start_time}")
for entrada in range(100,1001,100):
  ejemplo1( entrada )

In [ ]:
from time import time

def ejemplo2( n ):
    start_time=time()
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    print(f"tempo: {time()-start_time}")
    return contador

for entrada in range(100,1001,100):
  ejemplo2( entrada )

In [ ]:
from time import time

def ejemplo3( n ): # n=4
    start_time=time()
    x = n * 2 # x = 8
    y = 0   # y = 0
    for m in range( 100 ): #3
        y = x - n   # y = 4
    print(f"tiempo: {time()-start_time}")
    return y

for entrada in range(100,1001,100):
  ejemplo3(entrada)

In [ ]:
from time import time

def ejemplo4( n ):
    start_time=time()
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    print(f"tiempo: {time()-start_time}")
    return z

for entrada in range(100,1001,100):
  ejemplo4(entrada)

In [ ]:
from time import time

def ejemplo5( x ):
    start_time=time()
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    print(f"tiempo: {time()-start_time}")
    return n

for entrada in range(100,1001,100):
  ejemplo5(entrada)

In [ ]:
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    return suma
print(ejemplo6( 300 ))

In [ ]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma

for entrada in range(100,601,100):
  ejemplo6( entrada )

In [ ]:
def ejemplo7( n ):
    count = 1
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
    return count
ejemplo7(1)

26

In [ ]:
def ejemplo7_2( n ):
    count = 1
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
            for k in range( n ):
                count += 1
    return count # 1 + 25n^2 +25n^2
ejemplo7_2(1)

51

In [ ]:
numeros = [2,4,6,1,3,5]

def ejemplo8( numeros ):
  total = 0
  for index in range(len(numeros)):
    total = numeros[index]
  return total
ejemplo8(numeros)
# T(n) = 1 + n
# O(n) = n

5

In [ ]:
def ejemplo9( n ):
  contador = 0
  basura = 0
  for i in range( n ):
    contador += 1
  for i in range( n ):
    contador += 1
  basura = basura + contador
  return contador

print(ejemplo9( 5 ))

# T(n)=3+2n
# O(n)=n

10

In [1]:
def ejemplo10( n ):
    count = 0
    for i in range( n ) :
        for j in range( i+1 ) :
            count += 1
    return count
ejemplo10(1)
# (n(n+1))/2
# (n^2+n)/2

1

In [3]:
def ejemplo10( n ):
    count = 0
    for i in range( n ) :
        for j in range( i) :
            count += 1
    return count
ejemplo10(1)
# (n(n))/2
# (n^2)/2

0

In [4]:
def ejemplo11( n ):
    count = 0
    i = n
    while i > 1 :
        count += 1
        i = i // 2 
    return count
print(ejemplo11(16))
# T(n) =  2 + (2 Log 2 n)

4

In [2]:
def ejemplo12( n ):
    contador = 0
    for x in range(n):
        contador += ejemplo11(x)
    return contador

NameError: ignored

In [ ]:
def ejemplo13( x ):
    bandera = x
    contador = 0
    while( bandera >= 10):
        print(f" x = { bandera } ")
        bandera /= 10
        contador = contador + 1
    print(contador)
# T(x) = log10 x +1
ejemplo13( 1000 )

In [ ]:
def ejemplo14( n ):
    y = n
    z = n
    contador = 0
    while y >= 3: #3
        y /= 3  # 1
        contador += 1  # cont =3
    
    while z >= 3: #27
        z /= 3
        contador += 1
    return contador
print(ejemplo14( 27 ))

In [ ]:
def ejemplo15( n ): 
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
            
    while n > 1 :
        contador += 1
        n /= 2
    return contador

print(ejemplo15(10))